nav{
    background-color: black;
    border: solid wheat;
}
h1{
 text-align: center; 
 color: white; 
}
li,ul{
   display: inline;
}
ul{
    margin-left: 60%;
}
li{
    color: grey;
    font-size: 100%;
    margin:5px

}
li:hover{
    color: white;
}
div{
    text-align: center;
    margin-left:35%;
    border: solid black;
    height:250px;
    width:350px;
    margin-top: 25px;
}

.bar{
      margin-left:50px;
      margin-top: 25px;
      margin-right: 50x;
      margin-bottom: 25px;

}
h2{
    text-align: center;
    color: black;
}
